.container {
   display: flex;
   flex: 1;

   justify-content: space-between;
   align-items: center;
}

.container aside {
   display: flex;
   font-weight: bold;
   align-items: center;
    gap: 0.5rem;
}

.container aside:first-child {
  color: var(--blue-100);
}

.container aside:last-child {
  color: var(--purple-100);
}

.container aside p {
  font-size: 0.875rem;
}

.container span {
   color: var(--gray-200);
   font-size: 0.75rem;
  background-color: var(--gray-400);
  border-radius: 16px;
  padding: 2px 8px;
}